{% extends "base.html" %}

{% block content %}

<div class="container h-100">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p class="lead">The software system is an online blood bank management system that helps in managing various blood
        bank operation effectively. The project consists of a central repository containing various blood deposits
        available along with associated details. These details include blood type,donor name,address and date of
        donation. These details help in maintaining and monitoring the blood deposits. The project is an online system
        that allows to check whether required blood deposits of a partcular group are available in the blood bank.</p>
    </div>
  </div>
</div>



{% endblock %}